.displayContent {
    background-color: #549f93;
    color: #34343a;
    padding: 24px;
    text-align: center;
    width: 70%;
}

.mainImg {
    height: auto;
    width: 200px;
}

@media screen and (min-width: 500px) {
    .mainImg {
        height: auto;
        width: 70%;
    }
}
@media screen and (min-width: 1000px) {
    .mainImg {
        height: auto;
        width: 85%;
    }
}