.shortAnimalContainer {
    background-color: aliceblue;
    color: black;
    flex-grow: 1;
}

.readMoreBtn {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 8px 0 8px;
}

.readMoreBtn:hover {
    background-color: blueviolet;
}