.header {
    background-color: #2c2c34;
    height: 100px;
    text-align: center;
    
    
}
.pageTitle{
    position: relative;
    color: #eaeaea;
}
.pageTitle::before {
    background-color: #eaeaea;
    background-image: url('../../assets/images/logo-green.png');
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    content: "";
    left: 25px;
    opacity: 1;
    padding: 8px;
    position: absolute;
    
    height: 50px;
    width: 50px;
}