@keyframes backgroundC {
    0%   {background-color: #eaeaea; color: #549f93;}
    50%  {background-color: #549f93; color: #2c2c34}
    100%   {background-color: #eaeaea; color: #549f93}
}
  
.buyTicket {
    animation-name: backgroundC;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-color: #eaeaea;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    margin: 12px 25% 12px 25%; 
    text-decoration: none;
}

.buyTicket:hover {
    background-color: #34343a;
    border: 1px solid #eaeaea;
    color: #eaeaea;
    animation-duration: 0s;
}

@media screen and (min-width: 600px) {
    .buyTicket {
        margin: 12px 40% 12px 40%; 
    }
}