.sidebarContainer {
    background-color: #34343a;
    width: 30%;
}
.ourAnimals {
    padding-left: 16px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
@media screen and (min-width:500px) {
    .sidebarContainer {
        background-color: #34343a;
        width: 35%;
    }
}